header{
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px ;
    padding-left: 50px ;
    padding-top:10px;
    background: transparent;
    transition: all ease 0.3s;
}

header.blackk{
    background-color: #141414;
}

.header--logo{
    height: 60px;
}

.header--logo img{
height: 100%;

    
}

.header--user{
    height: 70px;
}

.header--user img{
    height: 100%;
    border-radius: 3px;
}